html {
    background-color: black !important;
    color: white !important;
    font-size: small !important;
}

* {
    background-color: inherit !important;
    color: inherit !important;
    font-family: 'Segoe UI Light' !important;
    font-size: inherit !important;
}

* {
    border-top-color: inherit !important;
    border-bottom-color: inherit !important;
    border-left-color: inherit !important;
    border-right-color: inherit !important;
}

#chat-area a {
    color: #569CD6 !important;
}

li.message {
    border-left-width: 175px !important;
    line-height: 1.3em !important;
}
li.message .user-status-container, li.message .gravatar {
    margin-top: 0.3em !important;
}

@media screen and (max-width: 900px) {
    
    li.message {
        border-left-width: 50px !important;
    }
    .time {
        visibility:hidden !important;
    }
}

#chat-area {
    background-color: #111 !important;
    border: #111 !important;
}

.highlight {
    background-color: #333 !important;
}

li.message.highlight {
    border-left-width: 175px !important;
    border-left-color: #333 !important;
}

.btn-small, .time, .nav-header, .roomTopic {
    font-size: smaller !important;
    opacity: 0.6 !important;
}
.banner {
    font-size: large !important;
}

* {
    scrollbar-base-color: #222;
    scrollbar-track-color: black;
}

form, textarea, input, button, .btn {
    background-color: #111 !important;
    border: 0 !important;
}

.first:before {
    opacity: 0 !important;
}

#tabs, #tabs li, .navbar, .navbar * {
    border: 0px solid black !important;
}

.user-status {
    background-color: #77d42a !important;
}

.inactive .user-status {
    background-color: #fa2 !important;
}

#tabs .current {
    background-color: #111 !important;
    height: auto !important;
}
